---
- name: Install prerequisites
  apt:
    name: "{{ item }}"
    state: present
  loop: "{{ prerequisites }}"

- name: Add docker key 
  apt_key: 
    url: "{{ docker_key }}"
    state: present 
    
- name: Add docker repo
  apt_repository:
    repo: "{{ docker_repo }}"
    filename: docker
    state: present

- name: Install docker container runtime 
  apt: 
    name: "{{ item }}"
    update_cache: True 
    state: present 
  loop: "{{ docker_list }}"

- name: Add vagrant user to docker group 
  user:
    name: vagrant 
    groups: docker 
    append: True
     
- name: Add Docker daemon.json file 
  copy:
    src: daemon.json
    dest: /etc/docker/daemon.json

- name: Create docker.service directory 
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory 
  notify: restart docker 

