---
- name: Add keys  
  apt_key: 
    url: "{{ item.key }}"
    state: present
  loop: "{{ software_list }}"

- name: Add repositories
  apt_repository:
    repo: "{{ item.repo }}"
    filename: "{{ item.name }}"
    state: present
    update_cache: True 
  loop: "{{ software_list }}"

- name: Install software 
  apt:
    name: "{{ item.name }}"
    state: present
  loop: "{{ software_list }}"

- name: Complete falco installation
  include_tasks: falco.yml

- name: Install kube-bench 
  include_tasks: kube-bench.yml

- name: Install kubesec 
  include_tasks: kubesec.yml 

- name: Configure image policy webhook backend 
  include_tasks: image-policy-webhook.yml
  tags: image-policy